@use "../../styles/variables.scss" as *;

.badge {
  display: inline-flex;
  align-items: center;
  padding: var(--ds-spacing-4xs) var(--ds-spacing-3xs);
  border-radius: var(--ds-border-radius-medium);

  @media screen and (min-width: $ds-breakpoint-mobile) {
    padding: var(--ds-spacing-3xs) var(--ds-spacing-2xs);
    border-radius: var(--ds-border-radius-large);
  }
}

.variant--neutral {
  background-color: var(--ds-color-surface-high);
  color: var(--ds-color-on-neutral);
}

.variant--positive {
  background-color: var(--ds-color-surface-positive);
  color: var(--ds-color-on-positive);
}

.variant--negative {
  background-color: var(--ds-color-surface-negative);
  color: var(--ds-color-on-negative);
}
