@use "../../../styles/variables.scss" as *;

.tab {
  --ds-tab-height: 42px;

  display: inline-flex;
  height: var(--ds-tab-height);
  cursor: pointer;

  @media screen and (min-width: $ds-breakpoint-mobile) {
    --ds-tab-height: 50px;
  }
}

.variant--pill {
  color: var(--ds-color-on-neutral);
  background-color: transparent;
  border: 1px solid var(--ds-color-outline);
  border-radius: calc(var(--ds-tab-height) / 2);
  padding: 0 var(--ds-spacing-s);

  @media screen and (min-width: $ds-breakpoint-mobile) {
    padding: 0 var(--ds-spacing-xs);
  }

  &:hover {
    border-color: var(--ds-color-outline-hover);
    background-color: var(--ds-color-surface-hover);
  }
    
  &:active {
    border-color: var(--ds-color-outline);
    background-color: var(--ds-color-on-surface-active);
  }
    
  &:focus-visible {
    background-color: transparent;
    outline: 2px solid var(--ds-color-inverse);
    outline-offset: 2px;
  }

  &[aria-selected='true'] {
    color: var(--ds-color-on-inverse);
    background-color: var(--ds-color-inverse);

    &:hover {
      border-color: var(--ds-color-inverse-hover);
      background-color: var(--ds-color-inverse-hover);
    }

    &:active {
      border-color: var(--ds-color-inverse-active);
      background-color: var(--ds-color-inverse-active);
    }
  }
}

.variant--underline {
  border-radius: 4px;
  position: relative;

  &::after {
    content: '';
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: var(--ds-color-outline-hover);
  }

  &:hover,
  &:active,
  &:focus-visible {
    &::after {
      display: block;
    }
  }

  &:focus-visible {
    outline: 2px solid var(--ds-color-inverse);
    outline-offset: 2px;
  }

  &[aria-selected='true'] {
    &::after {
      display: block;
      background-color: var(--ds-color-inverse);
    }
  }
}